<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="tutores">Fit Dance</a>
      <a mat-list-item routerLink="tutores">Yoga</a>
      <a mat-list-item routerLink="tutores">Tutores</a>
      <a mat-list-item href="https://www.google.com/search?q=Aconselhamento+nutricional&oq=Aconselhamento+nutricional&aqs=chrome..69i57j0l7.876j0j9&sourceid=chrome&ie=UTF-8" target="_blank">Aconselhamento nutricional</a>
      <a mat-list-item href ="https://www.google.com/search?q=terapia&oq=terapia&aqs=chrome..69i57j0l7.1398j0j4&sourceid=chrome&ie=UTF-8" target="_blank">Terapia</a>
      <a mat-list-item routerLink="tutores">Personal trainer</a>
      <a mat-list-item routerLink="passaTempos">Raciocínio Lógico</a>
      <a mat-list-item routerLink="aboutUs">Sobre nós</a>
      <a mat-list-item routerLink="contato">Contato</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>EnterMix</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <a routerLink="" mat-fab color="warn" aria-label="Example icon button with a home icon" class='botao'>
      <mat-icon>home</mat-icon>
    </a>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
