<mat-card id='unico'>
  <div> Dicas de jogos para sua mente :) </div>
</mat-card>

<mat-card>
  <div>
   <a href="https://rachacuca.com.br" ><img [src]="rachaCucaImage"></a>

  </div>
</mat-card>

<mat-card>
  <div>
   <a href="https://rachacuca.com.br/teste-de-einstein" ><img [src]="imageEinsten"></a>

  </div>
</mat-card>

<mat-card>
  <div>
   <a href="https://rachacuca.com.br/logica/quase-nada/" ><img [src]="quaseNadaImg"></a>

  </div>
</mat-card>

<mat-card>
  <div>
   <a href="https://rachacuca.com.br/raciocinio/robox/" ><img [src]="raboxImg"></a>

  </div>
</mat-card>


<mat-card>
  <div>
   <a href="https://rachacuca.com.br/jogos/jogo-do-cupido/" ><img [src]="ultimoImg"></a>

  </div>
</mat-card>
